In [1]:
mylist = [1,2,3]

In [5]:
for num in range(0,10,2):
    print(num)

0
2
4
6
8

In [7]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [8]:
word = 'Elephant'

for index,letter in enumerate(word):
    print(index)
    print(letter)
    print('\n')

0
E


1
l


2
e


3
p


4
h


5
a


6
n


7
t

In [9]:
mylist1 = [5,6,7]
mylist2 = ['a','b','c']

In [10]:
for item in zip(mylist1,mylist2):
    print(item)

(5, 'a')
(6, 'b')
(7, 'c')

In [11]:
list(zip(mylist1,mylist2))

[(5, 'a'), (6, 'b'), (7, 'c')]

In [12]:
'x' in mylist1

False

In [13]:
'y' in ['y', 'r']

True

In [14]:
'mykey' in {'mykey':345}

True

In [15]:
d = {'mykey':345}
345 in d.keys()

False

In [16]:
min([10,20,50])

10

In [18]:
max([6,8,10])

10

In [19]:
from random import shuffle

In [20]:
mylist = [1,2,3,4,5,6]

In [21]:
shuffle(mylist)

In [22]:
mylist

[4, 5, 6, 1, 2, 3]

Note: The shuffle function is an INPLACE function, meaning you can't assign its result to a separate list. For example if you do random_list = shuffle(mylist), this will result in a none type result.

In [3]:
from random import randint

In [4]:
randint(15,23)

23

In [32]:
input('Enter your name: ')

Enter your name: Yafet

'Yafet'

Input accepts anything that is entered into it as a String

In [33]:
fav_num = int(input('Enter your favorite number: '))

Enter your favorite number: 67