In [1]:
my_list = [1,2,3,4,5,6,7,8,9,10]

In [2]:
for item in my_list:
    print(item)

1
2
3
4
5
6
7
8
9
10

In [5]:
for num in my_list:
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [6]:
list_sum = 0
for num in my_list:
    list_sum += num
print(list_sum)

55

Iterating over a string

In [7]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [9]:
tup = (2,5,9)

for item in tup:
    print(item)

2
5
9

In [10]:
mylist = [(1,2),(5,9),(11,16)]

In [11]:
len(mylist)

3

In [12]:
for item in mylist:
    print(item)

(1, 2)
(5, 9)
(11, 16)

In [13]:
for item in mylist:
    for items in item:
        print(items)

1
2
5
9
11
16

In [14]:
for a,b in mylist:
    print(a)
    print(b)

1
2
5
9
11
16

In [15]:
d = {'k1':2, 'k4':8, 'k11':22}

SyntaxError: invalid syntax (951038323.py, line 1)